<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012 Jan Kühle

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Purpose: backup/restore, CSV export/import -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <!-- Purpose: sync -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Purpose: reminders notifications (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <activity
            android:name=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavigationDrawer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.FirstStartActivity"
            android:label="@string/title_first_start"/>
        <activity android:name=".gui.DataDetailActivity"/>
        <activity
            android:name=".gui.pref.PreferencesActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.db" />
                <data android:pathPattern=".*\\.csv" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.HelpActivity"
            android:label="@string/title_help"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity"/>
        </activity>
        <activity
            android:name=".gui.AuthenticatorAddAccountActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog"/>
        <activity
            android:name=".gui.dialog.SetupWebDavSyncDialogActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog"/>
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />

        <service
            android:name=".util.sync.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <receiver
            android:name=".util.reminder.ReminderActionReceiver"
            android:exported="false"/>

    </application>
</manifest>
